@model List<CustomersRegistrationVM>

<html>
    <head>
        <title>Index Page</title>
    </head>

    <body>
    <h1>Index Page</h1>
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Position</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">AadharCard</th>
                <th scope="col">City</th>
                <th scope="col">MaritalStatus</th>
            </tr>
        </thead>
        <tbody scope="row">
             @foreach (var RegistrationVM in Model)
                {
            <tr scope ="row">
               
                    <td>@RegistrationVM.Id</td>
                    <td>@RegistrationVM.Email</td>
                    <td>@RegistrationVM.FirstName</td>
                    <td>@RegistrationVM.LastName</td>
                    <td>@RegistrationVM.Position</td>
                    <td>@RegistrationVM.MobileNumber</td>
                    <td>@RegistrationVM.AadharCard</td>
                    <td>@RegistrationVM.City</td>
                    <td>@RegistrationVM.MaritalStatus</td>
                    <td> <a asp-controller="Customers" asp-action="Delete" asp-route-Id="@RegistrationVM.Id"> Delete</a></td>
                    <td><a> Update</a></td>
                  
              </tr>
              }
          </tbody>
        </table>
    <button><a asp-controller="Customers" asp-action="Registration">Register</a></button>
</body>
</html>