@model List<CustomersRegistrationVM>

<html>
    <head>
        <title>Index Page</title>
    <style>
        body {
          background-repeat: no-repeat;
            background-size: cover;
            background-attachment: fixed;
            background-image: url(https://imgs.search.brave.com/86hWfWiRmnaDXynt-xOQQcUGT1BmO1Nf4iZmAfNwYJk/rs:fit:759:225:1/g:ce/aHR0cHM6Ly90c2Uy/Lm1tLmJpbmcubmV0/L3RoP2lkPU9JUC42/T2xNLTM2eEVUNExN/elB5VVpLd21BSGFF/byZwaWQ9QXBp);
        }
       a:hover
        {
         
          color:greenyellow;
          background-color:aliceblue;
        }
        button:hover{
            width:5rem;
            height:2rem;
        }
       
        footer {
            display:none;
        }
    </style>
    </head>

    <body>
    <h1 style="text-align:center; background-color: white; margin-top:5rem;">Customers Details</h1>
    <table class="table table-striped" style="background-color: white;">
     
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Email</th>
                <th scope="col">FirstName</th>
                <th scope="col">LastName</th>
                <th scope="col">Position</th>
                <th scope="col">MobileNumber</th>
                <th scope="col">AadharCard</th>
                <th scope="col">City</th>
                <th scope="col">MaritalStatus</th>
            </tr>
        </thead>
        <tbody scope="row">
             @foreach (var RegistrationVM in Model)
                {
            <tr scope ="row">
               
                    <td>@RegistrationVM.Id</td>
                    <td>@RegistrationVM.Email</td>
                    <td>@RegistrationVM.FirstName</td>
                    <td>@RegistrationVM.LastName</td>
                    <td>@RegistrationVM.Position</td>
                    <td>@RegistrationVM.MobileNumber</td>
                    <td>@RegistrationVM.AadharCard</td>
                    <td>@RegistrationVM.City</td>
                    <td>@RegistrationVM.MaritalStatus</td>
                    <td> <a style="text-decoration:none;color:red" asp-controller="Customers" asp-action="Delete" asp-route-Id="@RegistrationVM.Id"> Delete</a></td>
                    <td><a style="text-decoration:none;color:red" asp-controller="Customers" asp-action="Update" asp-route-Id="@RegistrationVM.Id"> Update</a></td>
                  
              </tr>
              }
          </tbody>
        </table>
    <button style="text-align:center;  margin-left: 30rem;"><a style="text-decoration:none;color:black" asp-controller="Customers" asp-action="Registration">Register</a></button>
</body>
<br />
<footer>


</footer>
</html>